/* PPNeueMontreal Book */
@font-face {
  font-family: 'PPNeueMontreal-Book';
  src: url('/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Book.woff') format('woff'),
       url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* PPNeueMontreal Medium */
@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Medium.woff') format('woff'),
       url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* PPNeueMontreal Bold */
@font-face {
  font-family: 'PPNeueMontreal-Bold';
  src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Bold.woff') format('woff'),
       url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Arial Black embebida (para evitar diferencias entre dispositivos) */
@font-face {
  font-family: 'ArialBlack';
  src: url('/fonts/Arial-Black.woff2') format('woff2'),
       url('/fonts/Arial-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


